<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rumah Tamvan - Online House Selling</title>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RumahTamvan</a>
        </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="app" class="container">
      <div class="well well-sm">
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input v-model="searchtitle" type="text" class="form-control" placeholder="Search by title">
            <p>
              Search Results for : {{searchtitle}}
            </p>
          </div>
        </form> -->

        <div class="pull-right">
          <button id="addNewBtn" type="button" class="btn btn-info" data-toggle="collapse" data-target="#addNewForm" aria-expanded="false" aria-controls="addNewForm">
            <i class="glyphicon glyphicon-plus"></i>Add New
          </button>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- FORM ADD NEW HOUSE -->
      <div class="collapse" id="addNewForm">
        <div class="well">
          <h3>Add New House</h3>
          <div class="form-group">
            <label class="control-label" for="newtitle">Title</label>
            <input class="form-control" v-model="newtitle" type="text" placeholder="Enter the title">
          </div>
          <div class="form-group">
            <label class="control-label" for="newdesc">Description</label>
            <textarea class="form-control" v-model="newdesc" placeholder="Enter the description"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label" for="newprice">Price</label>
            <input class="form-control" v-model="newprice" type="number" placeholder="Enter the price">
          </div>
          <div class="form-group">
            <label class="control-label" for="newimage">Image</label>
            <input class="form-control" v-model="newimage" type="text" placeholder="Enter the image">
          </div>
          <div class="form-group">
            <label class="control-label" for="newowner">Owner</label>
            <input class="form-control" v-model="newowner" type="text" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label class="control-label" for="newphone">Phone</label>
            <input class="form-control" v-model="newphone" type="text" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label class="control-label" for="newaddress">Address</label>
            <textarea class="form-control" v-model="newaddress" placeholder="Enter the address"></textarea>
          </div>
          <div class="form-group">
            <button type="button" name="button" class="btn btn-info" v-on:click="createNewHouse" data-toggle="collapse" data-target="#addNewForm" aria-expanded="false" aria-controls="addNewForm">Submit <i class="glyphicon glyphicon-send"></i></button>
          </div>
        </div>
      </div>

      <!-- SINGLE HOUSE -->
      <div v-for="house in houses" v-bind:id="'house_'+house._id" class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-3">
            <img v-bind:src="house.image" class="img-responsive" alt="" />
          </div>
          <div class="col-md-9">
            <h3 class="h-title">{{house.title}}</h3>
            <p class="text-muted">Posted On : {{house.createdAt}}</p>
            <p>
              {{house.description}}
            </p>
            <a href="#" data-toggle="collapse" data-target="#detailHouse_" aria-expanded="false" aria-controls="detailHouse_">See More</a>
            <div id="detailHouse_" class="collapse">
              <p><strong>Price : </strong> Rp {{house.price}}</p>
              <p><strong>Owner : </strong> {{house.owner}}</p>
              <p><strong>Phone : </strong> {{house.phone}}</p>
              <p><strong>Address : </strong> {{house.address}}</p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button v-on:click.prevent="setmodeledit(house._id)" type="button" name="button" class="btn btn-sm btn-success" data-toggle="modal" v-bind:data-target="'#editHouse_'+house._id"><i class="glyphicon glyphicon-edit"></i> Edit</button>
            <button type="button" name="button" class="btn btn-sm btn-danger" data-toggle="modal" v-bind:data-target="'#deleteHouse_'+house._id"><i class="glyphicon glyphicon-trash"></i> Delete</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- SINGLE HOUSE -->

      <!-- EDIT HOUSE -->
      <div v-for="house in houses" class="modal fade" v-bind:id="'editHouse_'+house._id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit House</h4>
            </div>
            <div class="modal-body">
              <form id="editHouseForm">
                <div class="form-group">
                  <label class="control-label" for="edittitle">Title</label>
                  <input class="form-control" v-model="edittitle" type="text" placeholder="Enter the title">
                </div>
                <div class="form-group">
                  <label class="control-label" for="editdesc">Description</label>
                  <textarea class="form-control" v-model="editdesc" placeholder="Enter the description"></textarea>
                  <!-- <input class="form-control" v-model="editdesc" type="number" placeholder="Enter the description"> -->
                </div>
                <div class="form-group">
                  <label class="control-label" for="editprice">Price</label>
                  <input class="form-control" v-model="editprice" type="number" placeholder="Enter the price">
                </div>
                <div class="form-group">
                  <label class="control-label" for="editimage">Image</label>
                  <input class="form-control" v-model="editimage" type="text" placeholder="Enter the image">
                </div>
                <div class="form-group">
                  <label class="control-label" for="editowner">Owner</label>
                  <input class="form-control" v-model="editowner" type="text" placeholder="Enter your name">
                </div>
                <div class="form-group">
                  <label class="control-label" for="editphone">Phone</label>
                  <input class="form-control" v-model="editphone" type="text" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                  <label class="control-label" for="editaddress">Address</label>
                  <textarea class="form-control" v-model="editaddress" placeholder="Enter the address"></textarea>
                  <!-- <input class="form-control" v-model="editaddress" type="text" placeholder="Enter your address" v-bind:value="house.address"> -->
                </div>
                <!-- <input type="hidden" name="id" v-model="editId" value="{{house._id}}"> -->

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-info" v-on:click.prevent="updateHouse(house._id)" data-dismiss="modal">Save changes <i class="glyphicon glyphicon-edit"></i></button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- EDIT HOUSE -->

      <div v-for="house in houses" class="modal fade" v-bind:id="'deleteHouse_'+house._id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Delete House {{house.title}}</h4>
            </div>
            <div class="modal-body">
              Are you sure want to delete this house?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger"  v-on:click.prevent="deleteHouse(house._id)">Save changes <i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
  </body>
</html>
